@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.container {
  display: grid;
  grid-template-columns: 28% 72%;
  margin: 0;
  padding: 0;
}
.leftDiv {
  background-color: #242526;
  height: 100vw;
  margin: 0;
  padding: 0;
}
.CancelRoundedIcon {
  margin-left: 2%;
  font-size: 50px;
}
.FacebookRoundedIcon {
  font-size: 50px;
}
.rightDiv {
  color: white;
  background-color: #18191a;
  height: 100vw;
  margin: 0;
  padding: 0;
}
.leftHeading {
  display: flex;
  gap: 25%;
  padding: 10px;
  padding-left: 0;
  color: white;
}
.leftHeading > div:last-child {
  margin-top: 7%;
}
.leftHeading > div:last-child > a {
  margin: 20px;
}
.leftHeading > div:first-child {
  margin-left: 15px;
}
.leftHeading > div:first-child > h3 {
  font-size: 29px;
  font-weight: bolder;
}
.leftHeading > div:first-child > h4 {
  font-weight: 1000;
  font-size: 25px;
  margin-top: 35%;
}
.leftHeading > div > a {
  text-decoration: none;
  color: #2e89ff;
}
.CreateStoryHeading {
  margin-top: 5%;
}
.CreateStoryImage {
  display: flex;
}
.CreateStoryImage > div:last-child {
  font-weight: bolder;
  margin: 20px;
}
.CreateStoryImage > div:last-child > h6 {
  font-weight: bolder;
  margin: 5% 0 0 -2%;
}
.createStoryProfile {
  border-radius: 50%;
  height: 70px;
}
.setting {
  margin: 1% 0 0 0 !important;
  margin-left: 20% !important;
}
.Color,
.addStory {
  background-color: #252f3c;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  gap: 10px;
  color: white;
  cursor: pointer;
}
.addStory {
  background-color: #242526 !important;
  padding: 10px;
}
.addStory:hover {
  background-color: rgb(68, 68, 68) !important;
}
.addStory > div > h4 {
  padding: 10px;
  padding-left: 0;
  margin: 0;
}
.Color h3 {
  margin-top: 20%;
  font-size: 17px;
  font-weight: bolder;
  padding: 0;
}
.Image > img {
  height: 50px;
  padding: 10px;
}
.storiesContainer {
  padding: 10%;
  padding-top: 20px;
}
.rightHeading {
  display: flex;
  gap: 30%;
}
.rightHeading > div:first-child > h4 {
  padding: 0;
  margin: 0;
}
.rightHeading > div:first-child > p {
  margin: 0;
  padding: 0;
}
.rightHeading > div:last-child > a {
  text-decoration: none;
  color: #2e89ff;
}
.parent {
  position: relative;
  top: 30px;
  left: 0;
  float: left;
  margin: 40px 60px 40px 0;
}
.image1 {
  position: relative;
  top: 0px;
  left: 0;
  border-radius: 5px;
  height: 272px;
  width: 153px;
}
.image2 {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  border: 5px solid #2e89ff;
  height: 40px;
  width: 40px;
}
.story {
  color: white;
  margin-left: 2%;
  font-size: 10px;
}
.story > div > h5 {
  font-weight: bolder;
  margin-left: 2%;
}
.addStory h3 {
  margin-top: 6%;
  font-size: 17px;
  font-weight: bolder;
  padding: 0;
}
.profileStoryCreatePage {
  margin-top: -8%;
}
.backToStatus {
  padding: 10px;
  padding-top: 5%;
}
.cardContainer {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  gap: 20px;
}
.firstCard {
  text-align: center;
  color: white !important;
  background-image: url(https://www.facebook.com/rsrc.php/v3/y_/r/OOIYgLUa58d.png);
  background-position: 0px 0px;
  background-size: 271px 717px;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 10px !important;
}
.secondCard {
  text-align: center;
  color: white !important;
  background-image: url(https://www.facebook.com/rsrc.php/v3/y_/r/OOIYgLUa58d.png);
  background-position: 0px -331px;
  background-size: 221px 687px;
  width: 220px;
  height: 330px;
  background-repeat: no-repeat;
  display: inline-block;
  border-radius: 10px !important;
}
.uploadFile {
  background-color: #242526;
  width: 20%;
  padding: 10px;
  border-radius: 50%;
  margin-top: 60%;
  margin-left: 40%;
}
.shareToStory {
  padding: 10px;
  margin: 10px;
  margin-top: 100%;
  width: 40%;
  background-color: #2d87ff;
  color: white;
  border: none;
  border-radius: 5px;
}
.uploadtext {
  font-weight: bold;
  padding: 5px;
  font-size: 15px;
}
@media screen and (max-width: 1380px) {
  .leftHeading {
    display: flex;
    flex-direction: column;
    gap: 25%;
    color: white;
  }
}
@media screen and (max-width: 700px) {
  .leftDiv {
    display: none;
  }
  .container {
    display: grid;
    grid-template-columns: 100%;
    margin: 0;
    padding: 0;
  }
}
