.feed {
  flex: 1;
  padding: 30px 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*
    padding: 69px 328px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
*/
