.header_left > img {
  height: 49px;
}
.header {
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  background-color: rgb(36, 37, 38);
  color: white;
  z-index: 100;
  top: 0;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  height: 100%;
}
.headerProfilePhoto {
  height: 70px !important;
  width: 70px !important;
}
.headerFeedbackDiv > p:first-child {
  margin: 0;
  padding: 0;
}
.headerFeedbackDiv > p:last-child {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 15px;
}
.header_left {
  display: flex;
  justify-content: space-evenly;
}
.header_input {
  display: flex;
  align-items: center;
  background-color: #eff2f5;
  padding: 10px;
  margin-left: 10px;
  border-radius: 999px;
}
.header_input > input {
  border: none;
  background-color: transparent;
  outline-width: 0;
}
.header_middle {
  display: flex;
  justify-content: center;
  flex: 1;
}
.header_option > .MuiSvgIcon-root {
  color: gray;
}
.header_option:hover > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header_option {
  display: flex;
  align-items: center;
  padding: 0 30px;
  cursor: pointer;
}
.headerProfileDiv > h5 {
  margin: 6% 0 0 0;
  padding: 0;
}
.headerProfileDiv > p {
  font-weight: 300;
}
.header_option:hover {
  background-color: #eff2f5;
  border-radius: 10px;
  align-items: center;
  padding: 0 30px;
  border-bottom: none;
}
.header_info {
  display: flex;
  align-items: center;
}
.header_info > h4 {
  margin-left: 10px;
}
.header_right {
  display: flex;
}
.header_option--active > .MuiSvgIcon-root {
  color: #2e81f4;
}
.header_option--active {
  border-bottom: 4px solid #2e81f4;
}
a {
  color: #d7dee9;
  /* text-decoration: underline; */
  text-decoration: none;
}
